fake_and_real_news_dataset.csv filter=lfs diff=lfs merge=lfs -text
Backend/Models/bert_fakenews_model/model.safetensors filter=lfs diff=lfs merge=lfs -text
results/checkpoint-919/optimizer.pt filter=lfs diff=lfs merge=lfs -text
